<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Verse Similarity</title>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <h1>Bible Verse Similarity</h1>
        <center> 
        <form method="POST">
            <label for="user_input">Enter a theme:</label><br>
            <input type="text" id="user_input" name="user_input" required><br><br>
            <input type="submit" value="Find Similar Verses">
        </form>
        </center>

        {% if results %}
            <h2>Results for "{{ user_input }}"</h2>
            {% set valid_results = [] %}
            {% for verse, similarity in results %}
                {% if similarity > 0 %}
                    {% set _ = valid_results.append((verse, similarity)) %}
                {% endif %}
            {% endfor %}

            {% if valid_results %}
                <ul>
                    {% for verse, similarity in valid_results %}
                        <li><strong>Verse: </strong>  1 John  {{ verse }} <br> <strong>Similarity:</strong> {{ similarity }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Your search returned void 😅, good news God's word never does! Try another search 🔎 </p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
